@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.comp {
  height: 92vh;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060b26;
}

.App {
  background-color: #f9fcffe3;
}